/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

body {
  #page {
    max-width: 1080px;
    width: 70%;
    margin: 0 auto;

    i {
      display: none;
    }
    @include desktop {
      .content-area {
        position: relative;
        .fa-quote-left:before {
          position: absolute;
          top: 0;
        }
        .fa-quote-right:before {
          position: absolute;
          top: 0;
          right: 0;
        }
        i {
          color: $color__text-green;
          font-size: 100px;
          display: block;
        }
      }
      .entry-content {
        margin: 0 200px;
      }
      .site-main {
        button {
          left: 290px;
        }
      }
    }

    .site-main {
      line-height: 2.3em;
      p {
        font-size: 1.25rem;
      }
      h2 {
        font-size: 1.25rem;
      }
      button {
        background-color: #222;
        border: 2px solid $color__text-green;
        border-radius: 5px;
        color: $color__text-green;
        font-size: 1rem;
        padding: 0.8em 1.3em;
        position: relative;
        &:focus {
          outline: none;
        }
        &:hover {
          border: 2px solid #0d860d;
        }
      }
      .meta {
        a:link,
        a:visited {
          text-decoration: none;
          color: $color__text-green;
          font-size: 1.25rem;
        }
      }
    }
  }
}

#submit {
  font-size: 1.25rem;
}

.search,
.error404 {
  #page {
    main {
      margin: 0 130px;
      fieldset {
        border: none;
      }
      button {
        position: absolute;
        left: 340px;
        bottom: 26px;
        border: none;
        &:hover{
          border:none;
        }
        #search-i {
          font-size: 20px;
        }
      }
    }
  }
}
