footer {
  height: 100px;
  width:100%;
  nav{
    position: relative;
    right: 0;
    li {
      border-left: 1px solid #fff;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    a {
      color: $color__text-green;
      &:visited,
      &:link {
        color: $color__text-green;
      }
    }
  }
}
